@import url(./_active/header__lang-link_active.css);
@import url(./_ckecked/header__lang-link_checked.css);

.header__lang-link {
  font-size: 24px;
  line-height: 1.17;
  font-weight: normal;
  color: inherit;
  text-underline-position: under;
}

@media screen and (max-width: 375px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 1.33;
  }
}
