@import url(./_active/header__lang-link_active.css);

.header__lang-link {
  font-size: 24px;
  line-height: 1.17;
  font-weight: normal;
  color: inherit;
  text-decoration: none;
  transition: opacity 0.1s ease;
}

.header__lang-link:not(.header__lang-link_active):hover {
  opacity: 0.8;
}

@media screen and (max-width: 375px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 1.33;
  }
}
