@import url(./_enabled/header__lang-link_enabled.css);

.header__lang-link {
  font-size: 24px;
  line-height: 1.17;
  font-weight: normal;
  color: inherit;
  text-decoration: none;
  /* используем некраткую запись,
  чтобы не пересекалось с модификатором */
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

@media screen and (max-width: 375px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 1.33;
  }
}
