.header__lang-link {
  font-size: 24px;
  line-height: 1.17;
  font-weight: normal;
  color: inherit;
  text-decoration: none;
}

/* Комментарий в файле header__lang-menu-item_checked.css */
.header__lang-menu-item_checked > .header__lang-link {
  text-decoration: underline;
  text-underline-position: under;
}

/* для плавности */
@media all and (max-width: 350px) {
  .header__lang-link {
    font-size: calc(24px - 6 * (350px - 100vw) / 30);
    line-height: calc(117% + 16 * (350px - 100vw) / 30);
  }
}

@media all and (max-width: 320px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 1.33;
  }
}
