@import url(./__header/page__header.css);
@import url(./__content/page__content.css);
@import url(./__footer/page__footer.css);

.page {
  max-width: 1280px;
  min-width: 300px;
  width: 100%;
  margin: 0 auto;
}

