.photo-grid__list {
  display: grid;
  max-width: 100%;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  list-style: none;
  margin: 0;
  padding: 0;
  /* убираем пробельный отступ */
  font-size: 0;
}

@media screen and (max-width: 1024px) {
  .photo-grid__list {
    grid-template-columns: repeat(3, 1fr);
    gap: 14px;
  }
}

@media screen and (max-width: 768px) {
  .photo-grid__list {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }
}

@media screen and (max-width: 568px) {
  .photo-grid__list {
    grid-template-columns: 1fr;
    gap: 12px;
  }
}
