@import url(./__item/photo-grid__item.css);

.photo-grid {
  display: grid;
  max-width: 100%;
  grid-template-columns: repeat(4, auto);
  gap: 16px;
}

@media screen and (max-width: 1080px) {
  .photo-grid {
    grid-template-columns: repeat(3, auto);
    gap: 14px;
  }
}

@media screen and (max-width: 768px) {
  .photo-grid {
    grid-template-columns: repeat(2, auto);
    gap: 16px;
  }
}

@media screen and (max-width: 568px) {
  .photo-grid {
    grid-template-columns: auto;
    gap: 12px;
  }
}
