.places {
  display: grid;
  gap: 89px;
}

@media screen and (max-width: 1024px) {
  .places {
    gap: 90px;
  }
}

@media screen and (max-width: 768px) {
  .places {
    gap: 72px;
  }
}

@media screen and (max-width: 375px) {
  .places {
    gap: 48px;
  }
}
