.page__header {
  margin: 28px 48px 66px;
}

@media screen and (max-width: 1024px) {
  .page__header {
    margin-bottom: 57px;
  }
}

@media screen and (max-width: 768px) {
  .page__header {
    margin: 28px 24px 57px;
  }
}

@media screen and (max-width: 375px) {
  .page__header {
    margin: 16px 16px 51px;
  }
}
