.page__header {
  margin-top: 28px;
  margin-bottom: 66px;
}

/* smooth transition */
@media all and (max-width: 1124px) {
  .page__header {
    margin-bottom: calc(66px - 9 * (1124px - 100vw) / 100);
  }
}

@media all and (max-width: 1024px) {
  .page__header {
    margin-bottom: 57px;
  }
}

/* smooth transition */
@media all and (max-width: 420px) {
  .page__header {
    margin-top: calc(28px - 12 * (420px - 100vw) / 100);
    margin-bottom: calc(57px - 6 * (420px - 100vw) / 100);
  }
}

@media all and (max-width: 320px) {
  .page__header {
    margin-top: 16px;
    margin-bottom: 51px;
  }
}
