.cover__subtitle {
  font-size: 18px;
  line-height: 1.22;
  font-weight: normal;
  text-align: center;
  max-width: 360px;
  margin: 0;
}


/* smooth text size transition */
@media screen and (max-width: 668px) {
  .cover__subtitle {
    font-size: calc(18px - 4 * (668px - 100vw) / 293);
    max-width: 72%;
  }
}

@media screen and (max-width: 375px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 1.14;
    max-width: 100%;
    margin: 0 16px 0;
  }
}
