.header__logo {
  width: 176px;
  height: 52px;
  background: url(../../../images/header/header__logo.svg) center center no-repeat;
  background-size: contain;
}

@media screen and (max-width: 375px) {
  .header__logo {
    width: 142px;
    height: 42px;
  }
}
