.header__logo {
  width: 176px;
  height: 52px;
  background: url(../../../images/header/header__logo.svg) center center no-repeat;
  background-size: contain;
}

/* для плавности */
@media all and (max-width: 350px) {
  .header__logo {
    width: calc(176px - 34 * (350px - 100vw) / 30);
    height: calc(52px - 10 * (350px - 100vw) / 30);
  }
}

@media all and (max-width: 320px) {
  .header__logo {
    width: 142px;
    height: 42px;
  }
}
