.page__content {
  margin-bottom: 92px;
}

@media screen and (max-width: 768px) {
  .page__content {
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 375px) {
  .page__content {
    margin-bottom: 64px;
  }
}
