/* Класс введен, чтобы вернуть подчеркивание ссылки в меню выбора языка.
По условию нельзя, чтобы изменяемое в модификаторе свойство было
в самом элементе или блоке. Поэтому нельзя убрать подчеркивание,
а в модификаторе его вернуть. Остается только убирать его в модификаторе.
А если бы языков было пять? Пришлось бы к четырем применять модификатор.
Если писать добавление подчеркивания здесь (а в lang-link наследовать),
то в Firefox будет два подчеркивания. Мой выбор: родительский селектор в lang-link.
На мой взгляд, правильнее давать подчеркивание выбранному элементу, а не убирать его
у всех невыбранных. Вот :) */
