.place__text {
  font-size: 18px;
  line-height: 1.67;
  font-weight: normal;
}

@media screen and (max-width: 768px) {
  .place__text {
    font-size: 16px;
    line-height: 1.62;
  }
}

@media screen and (max-width: 375px) {
  .place__text {
    margin: 0 16px 0;
  }
}
