.place__text {
  font-size: 18px;
  line-height: 1.67;
  font-weight: normal;
  margin-top: -4px;
}

@media screen and (max-width: 768px) {
  .place__text {
    font-size: 16px;
    /* по неведомой причине 1.62 рендерится выше, чем 26px */
    line-height: 26px;
  }
}

@media screen and (max-width: 375px) {
  .place__text {
    margin: 0 16px 0;
  }
}
