.footer__link {
  font-size: 16px;
  line-height: 1.12;
  font-weight: normal;
  color: inherit;
  text-decoration: none;
  transition: opacity 0.1s ease;
}

.footer__link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 375px) {
  .footer__link {
    font-size: 24px;
    line-height: 1;
  }
}
