.content__photo-grid {
  margin: 0 48px;
}

@media screen and (max-width: 768px) {
  .content__photo-grid {
    margin: 0 24px;
  }
}

@media screen and (max-width: 375px) {
  .content__photo-grid {
    margin: 0 16px;
  }
}
