.lead__title {
  font-size: 96px;
  line-height: 1.04;
  font-weight: 900;
  text-align: center;
  max-width: 720px;
  margin: 0 auto 24px;
}

/* smooth transition */
@media all and (max-width: 768px) {
  .lead__title {
    font-size: calc(96px - 56 * (768px - 100vw) / 448);
    line-height: calc(104% + 6 * (768px - 100vw) / 448);
    margin-bottom: calc(24px - 9 * (768px - 100vw) / 448);
  }
}

@media all and (max-width: 320px) {
  .lead__title {
    font-size: 40px;
    line-height: 1.1;
    margin-bottom: 13px;
  }
}
