.lead__title {
  font-size: 96px;
  line-height: 1.04;
  font-weight: 900;
  text-align: center;
  max-width: 720px;
  margin: 0 auto 24px;
}

/* smooth text size transition */
@media screen and (max-width: 768px) {
  .lead__title {
    font-size: calc(96px - 56 * (768px - 100vw) / 393);
    line-height: calc(104% + 6 * (768px - 100vw) / 393);
    margin: 0 24px 24px;
  }
}

@media screen and (max-width: 375px) {
  .lead__title {
    font-size: 40px;
    line-height: 1.1;
    margin: 0 16px 13px;
  }
}
