.place__website-link {
  font-size: 18px;
  line-height: 1.22;
  font-weight: normal;
  color: inherit;
  text-underline-position: under;
  transition: opacity .1s ease;
}

.place__website-link:hover {
  opacity: .8;
}
