.place__website-link {
  font-size: 18px;
  line-height: 1.22;
  font-weight: normal;
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid white;
  transition: opacity 0.1s ease;
}

.place__website-link:hover {
  opacity: 0.8;
}
