.lead__subtitle {
  font-size: 30px;
  line-height: 1.2;
  font-weight: normal;
  text-align: center;
  max-width: 640px;
  width: 95%;
  margin: 0 auto 64px;
}

/* smooth transition */
@media all and (max-width: 1124px) {
  .lead__subtitle {
    margin-bottom: calc(64px - 8 * (1124px - 100vw) / 100);
  }
}

@media all and (max-width: 1024px) {
  .lead__subtitle {
    margin-bottom: 56px;
  }
}

/* smooth transition */
@media all and (max-width: 768px) {
  .lead__subtitle {
    font-size: calc(30px - 14 * (768px - 100vw) / 448);
    line-height: calc(120% + 5 * (768px - 100vw) / 448);
    margin-bottom: calc(56px - 16 * (768px - 100%) / 448);
    width: calc(89% + 11 * (768px - 100%) / 448);
  }
}

@media all and (max-width: 320px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 40px;
    width: 100%;
  }
}
