.lead__subtitle {
  font-size: 30px;
  line-height: 1.2;
  font-weight: normal;
  text-align: center;
  max-width: 640px;
  margin: 0 auto 64px;
}

@media screen and (max-width: 1024px) {
  .lead__subtitle {
    margin-bottom: 56px;
  }
}

/* smooth text size transition */
@media screen and (max-width: 768px) {
  .lead__subtitle {
    font-size: calc(30px - 14 * (768px - 100vw) / 393);
    line-height: calc(120% + 5 * (768px - 100vw) / 393);
    width: calc(70% + 20 * (768px - 100%) / 393);
  }
}

@media screen and (max-width: 375px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 40px;
    width: 90%;
  }
}
