.cover__overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-decoration: none;
  grid-row: 1/2;
  grid-column: 1/2;
  z-index: 1;
}

.cover__overlay:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #2a2c2f;
  opacity: 0.3;
  transition: opacity 1s ease-out;
  z-index: -1;
}

.cover__overlay:hover:before {
  opacity: 0.8;
  /* разная анимация при наведении и отведении */
  transition: opacity 0.2s ease;
}
