.lead__caption {
  font-size: 10px;
  line-height: 1.4;
  font-weight: normal;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .lead__caption {
    margin: 0 24px 0;
  }
}

@media screen and (max-width: 375px) {
  .lead__caption {
    margin: 0 16px 0;
  }
}
