@import url(./__title/place__title.css);
@import url(./__website/place__website.css);
@import url(./__website-link/place__website-link.css);
@import url(./__image/place__image.css);
@import url(./__text/place__text.css);
@import url(./__paragraph/place__paragraph.css);

.place {
  display: grid;
  /* вторая колонка выравнивается по третьей колонке photo-grid*/
  grid-template-columns: auto calc(50% - 8px);
  column-gap: 40px;
  row-gap: 39px;
}

@media screen and (max-width: 1024px) {
  .place {
    column-gap: 32px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    column-gap: 28px;
    row-gap: 46px;
  }
}

@media screen and (max-width: 568px) {
  .place {
    grid-template-columns: 1fr;
    row-gap: 32px;
  }
}
