@import url(./__links/footer__links.css);
@import url(./__link/footer__link.css);
@import url(./__copyright/footer__copyright.css);

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
}

@media screen and (max-width: 720px) {
  .footer {
    display: grid;
    grid-template-columns: 100%;
    row-gap: 48px;
    justify-items: center;
  }
}

@media screen and (max-width: 540px) {
  .footer {
    justify-items: start;
  }
}
