.page__footer {
  max-width: 100%;
  margin: 0 48px 24px;
}

@media screen and (max-width: 768px) {
  .page__footer {
    margin: 0 24px 24px;
  }
}

@media screen and (max-width: 375px) {
  .page__footer {
    margin: 0 16px 24px;
  }
}
