.place__website {
  margin: 0 0 9px;
  align-self: end;
}

@media screen and (max-width: 768px) {
  .place__website {
    margin-bottom: 3px;
  }
}

@media screen and (max-width: 568px) {
  .place__website {
    display: none;
  }
}
