.place__website {
  margin: 0;
  align-self: end;
}

.place__website:before {
  content: 'URL';
  display: block;
  margin-bottom: 12px;
  font-size: 12px;
  line-height: 1.7;
  font-weight: normal;
  letter-spacing: .2em;
  color: #aaa;
}

@media screen and (max-width: 568px) {
  .place__website {
    display: none;
  }
}
