.content__lead {
  margin: 0 auto;
  max-width: 984px;
}

@media screen and (max-width: 1080px) {
  .content__lead {
    max-width: 100%;
    margin: 0 48px;
  }
}

@media screen and (max-width: 768px) {
  .content__lead {
    margin: 0;
  }
}
