.intro__title {
  font-size: 54px;
  line-height: 1.04;
  font-weight: 900;
  margin: 0 0 40px;
  max-width: 690px;
}


/* smooth text size transition */
@media screen and (max-width: 768px) {
  .intro__title {
    font-size: calc(54px - 22 * (768px - 100vw) / 393);
    line-height: calc(104% + 5 * (768px - 100vw) / 393);
    max-width: 100%;
  }
}

@media screen and (max-width: 375px) {
  .intro__title {
    font-size: 32px;
    line-height: 1.09;
  }
}
